*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    min-height:100vh;
    color:#fff;
}

.container{
    width:90%;
    max-width:1000px;
    margin:30px auto;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border-radius:15px;
    padding:25px;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

h1,h2{
    text-align:center;
    margin-bottom:15px;
}

.score-card{
    background:#1565c0;
    border-radius:15px;
    text-align:center;
    padding:20px;
    margin-bottom:25px;
}

.score-card h1{
    font-size:55px;
    color:#ffeb3b;
}

.score
