body{

margin:0;
font-family:Arial;

background:url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?auto=format&fit=crop&w=1600&q=80");

background-size:cover;

color:white;

}

.container{

width:800px;

margin:30px auto;

background:rgba(0,0,0,.75);

padding:20px;

border-radius:15px;

}

h1,h2,h3{

text-align:center;

}

.scorecard{

background:#009688;

padding:20px;

border-radius:10px;

margin-bottom:20px;

}

table{

width:100%;

border-collapse:collapse;

}

table th,table td{

border:1px solid white;

padding:10px;

text-align:center;

}

.buttons{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:15px;

margin-top:20px;

}

.buttons button{

width:70px;

height:70px;

border-radius:50%;

border:none;

font-size:25px;

font-weight:bold;

cursor:pointer;

background:#ff9800;

color:white;

transition:.3s;

}

.buttons button:hover{

transform:scale(1.1);

}

.wicket{

width:130px!important;

border-radius:10px!important;

background:red!important;

}

.history{

background:#111;

padding:15px;

border-radius:10px;

font-size:22px;

text-align:center;

margin-top:10px;

min-height:35px;

}
